.comp-header{
    display: flex;
    position: relative;
    color: #424242;
}

.company{
    display: flex;
}

.company .logo img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    background: #fff;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 2px;
}

.company .name{
    font-size: 24px;
    text-transform: capitalize;
    font-family: var(--semiBold);
    color: #000;
}

.company .name svg{
    margin-left: 10px;
    font-size: 24px;
    color: #727272;
    position: relative;
    top: 2px;
}

.company .name svg.greened{
    color: var(--color);
}

.company .comment{
    margin-top: 15px;
}

.company .complete{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.company .key-contact{
    margin-right: 35px;
    padding: 3px 0px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.company .key-contact.highlited{
    background: #3421a31f;
    padding: 3px 20px;
    color: #3421a3;
}

.company .key-contact a{
    color: #424242;
    text-decoration: none;
}

.company .key-contact svg{
    font-size: 17px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.details{
    margin-top: 50px;
    padding: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.details h2{
    font-family: var(--semiBold);
    font-size: 19px;
    margin-bottom: 15px;
}

.details .line{
    display: flex;
    margin-bottom: 10px;
}

.details .line span{
    display: block;
    width: 180px;
}

.details .key-contact{
    margin-top: 50px;
    width: 350px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.key-contact .title{
    font-size: 19px;
    margin-bottom: 10px;
}

.key-contact .address{
    margin-top: 3px;
}

.key-contact .address svg{
    font-size: 17px;
    color: #424242;
    position: relative;
    top: 3px;
}

@media screen and (max-width: 550px) {
    .details .key-contact{
        width: 100%;
    }
}