.categories{
    display: flex;
    justify-content: center;
    min-height: 300px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-bottom: 40px;
}

.categories .category,
.categories .type{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    cursor: pointer;
    border: 4px solid #fff;
    border-radius: 10px;
    width: 240px;
    height: 200px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.categories .type {
    width: 200px;
    height: 140px;
}

.categories .category svg,
.categories .type svg{
    position: absolute;
    right: 10px;
    top: 10px;
}

.categories .category img,
.categories .type img{
    width: 50px;
}

.categories .category span,
.categories .type svg{
    font-size: 17px;
    margin-top: 15px;
}

.categories .bottom {
   margin-top: 90px;
}

.address-content{
    display: flex;
    overflow-x: unset;
}

.address-content .btn-group{
    width: 100%;
}

.address-content .btn-group button{
    padding: 7px 25px;
}

.address-content .what3words{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9920;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.address-content .what3words.active{
    display: flex;
}

.address-content .what3words .what-content{
    width: 600px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.address-content .what3words .slide-content{
    display: flex;
    width: 400%;
    transition: 0.3s;
    margin-left: -300%;
}

.address-content .what3words .slide-content .one-slide{
    width: 100%;
    overflow: hidden;
}

.address-content .what3words .what-content .close{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.address-content .what3words .slide-content .img{
    border-radius: 5px 5px 0 0;
    width: 660px;
}

.address-content .what3words .slide-content .text-body{
    padding: 15px;
    text-align: center;
    font-family: var(--semiBold);
    fontSize: 19px;
    width: 600px;
}

.address-content .what3words .slide-content .text-body div{
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
}

.address-content .what3words .slide-content .text-body div svg{
    fontSize: 30px;
    position: relative;
    top: 13px;
}

.address-content .tit{
    font-family: var(--semiBold);
    fontSize: 17px;
    margin-bottom: 20px;
}

.address-content .insert-location{
    width: 20%;
    height: 100vh;
    position: relative;
    z-index: 100;
    border-right: 1px solid #E5E5E5;
    padding: 20px;
}

.address-content .insert-location .box{
    position: relative;
}

.address-content .insert-location .box svg{
    position: absolute;
    right: -30px;
    top: 27px;
    color: #727272;
    cursor: pointer;
}

.address-content .insert-location .box input,
.address-content .insert-location .box textarea{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.address-content .insert-location .box textarea{
    height: 80px;
    padding: 5px 10px;
}

.address-content .insert-location .message{
    margin-top: 20px;
    color: red;
}

.address-content .insert-location .button{
    margin-top: 20px
}

.address-content .choose-map{
    width: 80%;
    height: 100vh;
    padding-bottom: 55px;
}

.address-content .choose-map .pined{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.address-content .choose-map .pined span{
    background: var(--color);
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.address-content .choose-map .autosuggest{
    position: absolute;
    left: 390px;
    display: flex;
    top: 80px;
    z-index: 9000;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.address-content .choose-map .autosuggest img{
    height: 40px;
    position: relative;
    left: 2px;
}

.address-content .choose-map .autosuggest input{
    height: 40px;
    width: 300px;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.address-content .choose-map .autosuggest svg{
    color: #727272;
    position: relative;
    top: 7px;
    margin-left: 10px;
    cursor: pointer;
}

.address-content .choose-map .map-title{
    padding: 15px 30px;
    border-bottom: 1px solid #e5e5e5;
}

.picture-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.picture-upload button{
    margin-top: 50px
}

.picture-upload .page-loading{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #f9f9f9;
}

.picture-upload .page-loading span{
    display: block;
    height: 100%;
    width: 15px;
    background: var(--color);
    transition: 2s;
    visibility: hidden;
}

.picture-upload .page-loading span.active {
    width: 99%;
    visibility: visible
}

.picture-upload .page-loading span.end{
    width: 100%;
    visibility: hidden
}

.picture-upload .title {
    fontSize: 21px;
    font-family: var(--semiBold);
    margin-bottom: 20px;
}

.picture-upload .gallery{
    height: 60vh;
    width: 60vw;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    display: flex;
}

.picture-upload .gallery .pictures{
    width: 70%;
    border-right: 1px solid #e5e5e5;
    position: relative;
}

.picture-upload .gallery .top{
    padding: 15px;
    font-family: var(--semiBold);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    z-index: 100;
}

.picture-upload .gallery .pictures-list{
    padding: 70px 15px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.picture-upload .gallery .pictures-list .picture{
    width: 48%;
    height: 150px;
    position: relative;
    margin-bottom: 30px;
}

.picture-upload .gallery .pictures-list .picture .actions{
    position: absolute;
    right: 10px;
    top: 10px;
}

.picture-upload .gallery .pictures-list .picture .actions span.tic:hover{
    width: 125px
}

.picture-upload .gallery .pictures-list .picture .actions span.tic{
    display: inline-flex;
    align-items: center;
    width: 26px;
    height: 25px;
    padding: 0 2px;
    background: #fff;
    border-radius: 10px;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.1s;
}

.picture-upload .gallery .pictures-list .picture .actions span.tic.active{
    width: 125px;
    color: #000;
}

.picture-upload .gallery .pictures-list .picture .actions span.tic.active svg{
    color: var(--color);
}

.picture-upload .gallery .pictures-list .picture .actions span.tic svg{
    fontSize: 20px;
    position: relative;
    margin-right: 5px;
}

.picture-upload .gallery .pictures-list .picture img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.picture-upload .gallery .pictures-list .picture.wide{
    width: 100%;
    height: 250px;
}

.picture-upload .gallery img.element{
    width: 100%;
    height: 150px;
}

.picture-upload .gallery .pictures-list .picture.wide img{
    height: 250px;
}

.picture-upload .gallery .drag{
    position: relative;
    width: 30%;
    overflow: auto;
    padding: 0 20px;
}

.picture-upload .gallery .drag button{
    padding: 3px 20px;
}

.picture-upload .gallery .drag .drag-content{
    padding: 100px 0 30px;
}

/*
.property-detail-info{
    padding: 30px 30px;
}

.property-detail .image-size{
    background: #ee55ee;
    width: 500px;
    height: 200px;
}

.property-detail .footer .btn-group{
    margin: 30px 0;
}

.property-detail .title{
    fontSize: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: var(--bold);
}

.property-detail .forms{
    margin-top: 30px;
}

.property-detail .forms .propects{
    display: flex;
    flex-wrap: wrap;
}

.property-detail .forms .split{
    width: 35%;
    margin-right: 5%;
}

.property-detail .forms .box{
    margin-bottom: 20px;
    position: relative;
}

.property-detail .forms .small-box{
    width: 35%;
    margin-right: 30px;
    margin-bottom: 20px;
}

.property-detail .forms input,
.property-detail .forms select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
}
*/

.property-detail .forms .log{
    color: #727272;
    fontSize: 12px;
}

.property-detail .forms strong{
    position: absolute;
    right: 0;
    display: block;
    height: 41px;
    width: 50px;
    text-align: center;
    line-height: 41px;
    background: #fff;
    top: 28px;
    border: 1px solid #aaa;
    border-radius: 0 3px 3px 0;
}

/*
.property-detail .forms textarea{
    display: block;
    height: 140px;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #aaa;
    resize: none;
}

.property-detail .forms button{
    margin-top: 20px;
}
 */

.property-detail .forms .amanties{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.property-detail .forms .amanties span{
    padding: 0 25px;
    border-radius: 30px;
    border: 3px solid #aaa;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
    height: 45px;
    line-height: 40px;
}

.property-detail .forms .amanties span:hover{
    border-color: #000;
}

.property-detail .forms .amanties span img{
    position: relative;
    top: 6px;
    margin-right: 3px;
}

.property-detail .forms .amanties span.active{
    border: 3px solid #000;
}

.property-detail{
    height: 100vh;
    width: 100vw;
    overflow: auto;
    padding-top: 20px;
    background: #fff;
}

.property-detail-info{
    padding: 20px 50px;
    width: 50%;
}

.property-detail .title{
    font-size: 20px;
    font-family: var(--regular);
}

.property-detail .forms .split{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.property-detail .forms .split .box{
    width: 48%;
    margin-top: 10px;
    position: relative;
}

.property-detail .forms .box.line{
    display: flex;
    padding-top: 20px;
}

.property-detail .forms .box.line input[type="checkbox"]{
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.property-detail .forms .box label{
    display: block;
    margin-bottom: 5px;
}

.property-detail .forms .split .box input[type="text"],
.property-detail .forms .split .box input[type="number"],
.property-detail .forms .split .box select,
.property-detail .forms .box textarea{
    display: block;
    width: 100%;
    height: 42px;
    border: 1px solid #c5c5c5;
    background: #fff;
    border-radius: 3px;
    padding: 0 10px;
}

.property-detail .forms .box{
    margin-top: 15px;
}

.property-detail .footer{
    margin-top: 30px;
}

.property-detail .footer .log{
    margin-bottom: 10px;
}

.property-detail .forms .box textarea{
    width: 100%;
    height: 150px;
}

.post-modal .property-detail .btn-group{
    justify-content: flex-start;
    width: 100%;
}

.post-modal .property-detail .btn-group .distancer{
    margin-right: 100px;
}

.completed .icon{
    width: 100px;
    height: 100px;
    background: var(--selected);
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 30px;
} 

.completed img{
    width: 60px;
}

.completed a{
    display: block;
    height: 40px;
    background: #000;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    width: 200px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
}

.st-map-bar{
    display: none !important;
}

@media screen and (max-width: 1200px) {
    .address-content .insert-location{
        width: 30%;
    }
}

@media screen and (max-width: 1100px) {
    .picture-upload .gallery{
        width: 85vw;
    }

    .property-detail-info{
        width: 80%;
    }
}

@media screen and (max-width: 920px) {
    .address-content .insert-location{
        width: 40%;
    }

    .address-content .choose-map .autosuggest{
        left: 35%
    }

    .property-detail-info{
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    .picture-upload .gallery{
        width: 89vw;
    }
    
    .picture-upload .gallery .pictures-list{
        display: block;
    }

    .picture-upload .gallery .pictures-list .picture{
        display: block;
        width: 100%;
    }

    .categories{
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        margin: auto;
        min-height: auto;
    }

    .categories .category{
        width: 45%;
        margin: 0;
    }

    .categories.sub{
        justify-content: center;
        flex-wrap: wrap;
    }

    .categories.sub .type{
        width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .address-content .insert-location{
        position: fixed;
        left: -300px;
        height: 100vh;
        overflow-y: scroll;
        width: 300px;
        z-index: 9999;
        background: #fff;
    }

    .picture-upload .gallery{
        width: 92vw;
    }

    .st-insert-close{
        position: absolute;
        right: 10px;
    }

    .address-content .insert-location.active{
        left: 0;
        transition: 0.3s;
    }

    .address-content .choose-map{
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

    .st-map-bar{
        display: inline-block !important;
        position: relative;
        top: 7px;
        margin-right: 10px;
    }

    .address-content .choose-map .autosuggest{
        left: 20px;
        top: 100px;
    }

    .picture-upload .gallery .drag .drag-content p{
        display: none !important;
    }
}

@media screen and (max-width: 650px) {
    .address-content .what3words .what-content{
        width: 330px;
        height: 400px;
    }

    .address-content .what3words .slide-content .img{
        width: 100%;
    }

    
    .address-content .what3words .slide-content .text-body{
        width: 100%;
    }

    .property-detail .forms .split{
        display: block;
    }

    .property-detail .forms .split .box{
        width: 100%;
    }
}