.create-campain{
    margin-top: 20px;
}

.create-campain .second-title{
    font-size: 18px;
    margin-bottom: 20px;
}

.create-campain .second-title svg{
    position: relative;
    top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.campain-form{
    margin-top: 40px;
    max-width: 500px;
}

.campain-form .box{
    display: block;
    margin-bottom: 20px;
}

.campain-form .box label,
.campain-form .box input,
.campain-form .box textarea{
    display: block;
}

.campain-form .box input,
.campain-form .box textarea{
    height: 45px;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #777;
    padding: 0 5px;
}

.campain-form .box textarea{
    height: 100px;
}

.campain-form .message{
    color: red;
    margin-bottom: 20px;
}

.campain-form button{
    height: 40px;
    width: 150px;
    text-align: center;
    padding: 0 20px;
    background: var(--color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.campain-form button img{
    width: 17px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.tab-pan{
    margin-bottom: 50px;
}

.success .icon{
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;
    background: var(--selected);
    border-radius: 50%;
    text-align: center;
    margin-top: 50px;
}

.success .icon svg{
    font-size: 40px;
    color: var(--color);
    margin-top: 20px;
}

.success{
    text-align: center;
}

.success .tit{
    font-size: 20px;
    margin: 20px 0;
}

.success .exp{
    max-width: 400px;
    margin: auto;
}

.success button{
    margin-top: 40px;
    height: 40px;
    width: 150px;
    background: var(--color);
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}