.add-boost-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
}

.add-boost-container .part{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-boost-container .part.gray{
    background: #f5f5f5;
}

.choosed-property{
    width: 500px;
}

.choosed-content{
    border-radius: 5px;
}

.choosed-label{
    font-family: var(--semiBold);
    width: 70%;
}

.choosed-content img{
    width: 100%;
    object-fit: cover;
    height: 270px;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.choosed-content .choosed-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 19px;
}

.add-boost-container .form-part{
    width: 65%;
}

.boost-details{
    margin-top: 40px;
}

.boost-details .boost-title{
    font-size: 22px;
    margin-bottom: 30px;
}

.boost-details .desc{
    margin-bottom: 30px;
}

.boost-details .box{
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.boost-details .box input{
    display: block;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
}

.boost-details .box .fixed{
    position: absolute;
    right: 0;
    background: #fff;
    top: 33px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #aaa;
    border-radius: 0 3px 3px 0;
}

.boost-details .box .total{
    display: flex;
    justify-content: space-between;
}

.boost-details .choose-plan{
    display: flex;
    justify-content: space-between;
}

.boost-details .choose-plan .plan{
    width: 31%;
    border: 3px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.boost-details .choose-plan .plan:hover,
.boost-details .choose-plan .plan.active{
    border-color: var(--color);
}

.boost-details button{
    width: 100%;
    height: 40px;
    background: var(--color);
    color: #fff;
    border: 1px solid var(--color);
    border-radius: 3px;
    cursor: pointer;
}

.boost-details .message{
    text-align: left;
}

.tip{
    color: #323232;
    position: relative;
    top: 3px;
}