.booster-page{
    display: block;
    padding: 20px;
}

.booster-page .title{
    display: flex;
    font-size: 22px;
    font-family: var(--regular);
    justify-content: space-between;
}

.booster-page .title a{
    display: block;
    text-decoration: none;
}

.booster-page .title button{
    display: block;
    background: var(--color);
    border: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.booster-filter{
    margin-bottom: 50px;
}

.booster-filter select{
    margin-left: 10px;
    height: 30px;
    width: 150px;
    background: #e5e5e5;
    border: none;
}

.booster-page table{
    width: 100%;
}

.booster-page table thead td{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.booster-page table tbody tr td{
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.booster-page table td img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    float: left;
}

.booster-page table td span.label{
    display: inline-block;
    margin-left: 7px;
    padding-top: 5px;
    height: 50px;
}

.booster-page table .progress-index{
    display: flex;
    justify-content: space-between;
}

.booster-page table .progress{
    padding-right: 20px;
}

.booster-page table .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color);
    margin-right: 5px;
}

.booster-page table .completed .dot{
    background: dodgerblue;
}

.booster-page table .timeline{
    height: 10px;
    background: #e5e5e5;
    border-radius: 30px;
    margin-top: 7px;
}

.booster-page table .timeline span{
    display: block;
    width: 30%;
    height: 100%;
    background: var(--color);
    border-radius: 30px;
}

.booster-page table .completed .timeline span{
    background-color: dodgerblue;
    width: 100%;
}

.booster-page table .social{
    height: 30px;
    width: 30px;
    padding: 3px;
    position: relative;
    background: #fff;
    border-radius: 50%;
}

.booster-page table .social.img1{
    left: -5px;
}

.booster-page table .social.img2{
    left: -10px;
}

.create-boost-content{
    background: #fff;
    min-height: 90vh;
    margin-bottom: 50px;
    padding: 30px;
}

.create-boost-content .title{
    font-size: 22px;
    font-family: var(--regular);
}

.boost-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boost-modal-content{
    background: #fff;
    width: 800px;
    padding: 20px;
    height: auto;
}

.boost-modal-content .title{
    font-size: 20px;
    font-family: var(--regular);
}

.boost-modal .form{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.boost-modal .form .boost-property{
    margin-top: 10px;
    font-family: var(--semiBold);
}

.boost-modal .form .box{
    width: 50%;
    margin-bottom: 30px;
}

.boost-modal .form label{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.boost-modal .form input{
    display: block;
    width: 100%;
    height: 38px;
    border: 1px solid #929292;
    border-radius: 3px;
    padding: 0 5px;
}