.split-content{
    display: flex;
    justify-content: space-between;
}

.split-content .right-content{
    width: 30%;
    background: #f9f9f9;
    min-height: 90vh;
    padding: 20px;
}

.split-content .left-content{
    width: 70%;
    padding: 20px;
}

.split-content .left-content .title,
.split-content .right-content .title{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.left-content .title .withdraw{
    font-size: 15px;
    height: 30px;
    background: var(--color);
    color: #fff;
    width: 170px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.left-content .title .withdraw svg{
    font-size: 20px;
    position: relative;
    top: 4px;
}

.balance-resume{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
}

.balance{
    width: 31%;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.balance .balance-title{
    font-family: var(--semiBold);
}

.balance .amount{
    display: block;
    margin-top: 20px;
    font-size: 24px;
    color: var(--color);
}

.chart{
    width: 100%;
    margin-top: 30px;
}

.history{
    margin-top: 50px;
}

.history .label{
    font-family: var(--semiBold);
    margin-bottom: 20px;
}

.history table{
    border-collapse: collapse;
    width: 100%;
}

.history table thead{
    background: #f5f5f5;
}

.history table td{
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
}

.history table tbody tr{
    border-bottom: 2px solid #f5f5f5;
}

.history table tbody .avatar{
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: relative;
    line-height: 35px;
    font-size: 20px;
    margin-right: 5px;
}

.history table tbody .status{
    padding: 1px 10px;
    border-radius: 30px;
    color: #fff;
    background: goldenrod;
    font-size: 13px;
}

.history table tbody .status.complete{
    background: #43AA8B;
}

.split-content .right-content .method-block{
    display: block;
    width: 100%;
    margin-top: 30px;
}

.right-content .method-block .label{
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #e5e5e5;
}

.method-block .card{
    display: flex;
    border: 2px solid #e5e5e5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background: #fff;
}

.method-block .card .date{
    font-size: 14px;
}

.method-block .card .type img{
    width: 40px;
    margin-right: 10px;
}

.method-block .card .options span{
    cursor: pointer;
    margin-right: 10px;
    color: rgba(21, 101, 192);
    font-weight: bold;
    font-size: 13px;
}