body{
    background: var(--background-color);
    overflow-y: none;
}

.dashboard{
    position: relative;
    min-height: 100vh;
}

.container{
    padding-left: 340px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    padding-right: 40px;
    margin-bottom: 20px;
}

.leftbar ~ .container{
    padding-left: 110px;
    padding-right: 40px;
}

.container .page-content {
    position: relative;
    min-height: 88vh;
    background-color: #fff;
}

.container .page-content .loading{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    z-index: 7990;
}

.container .page-content .loading img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1200px) {
    .container{
        padding-left: 90px;
        overflow-x: none;
    }
}