header{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 320px;
    width: 100%;
    z-index: 8000;
}

header .small-post-btn{
    display: none;
}

.leftbar ~ header{
    padding: 0 20px 0 90px;
}

.header-left svg{
    font-size: 40px;
    color: #727272;
    position: relative;
    top: 10px;
    margin-right: 20px;
}

.header-right{
    display: flex;
}

.header-right svg{
    font-size: 30px;
    color: #525252;
    position: relative;
    top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.header-right svg:hover{
    color: #000;
}

header button{
    position: relative;
    top: -5px;
}

.bell-block{
    position: relative;
}

.bell-block svg{
    position: relative;
    top: 10px;
}

.bell-block .r-bell{
    position: absolute;
    width: 10px;
    height: 10px;
    background: crimson;
    border-radius: 50%;
    right: 0;
    top: 10px;
}

.notification{
    position: fixed;
    right: 0;
    z-index: 5000;
    background: #fff;
    width: 350px;
    overflow-y: auto;
    height: 100vh;
    padding: 70px 10px 10px;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
}

.notification .note-title{
    display: flex;
    justify-content: space-between;
}

.notification .note-title span{
    font-size: 13px;
    padding: 2px 7px;
    background: var(--selected);
    border-radius: 30px;
    cursor: pointer;
}

.notification .note-title span svg{
    font-size: 20px;
    position: relative;
    top: 3px;
}

.notification-list{
    margin-top: 15px;
}

.note{
    display: flex;
    background: #fbfbfb;
    padding: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}

.note .dot{
    position: absolute;
    right: 5px;
    top: 10px;
    height: 9px;
    width: 9px;
    background: #43AA8B;
    border-radius: 50%;
}

.note .dot.blue{
    background: #3421a3;
}

.note .note-icon{
    padding: 5px 10px;
    color: #727272;
}

.note .note-content{
    font-size: 14px;
}

.note .note-date{
    margin-top: 10px;
    color: #525252;
    font-size: 13px;
}

.note-bottom{
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f5f5f5;
    width: 95%;
    border-radius: 5px;
    color: var(--color);
}

@media screen and (max-width: 1200px) {
    .header-left .menu-bar{
        display: none;
    }

    header{
        padding: 0 20px 0 90px;
    }
}

@media screen and (max-width: 1200px) {
    header .normal-post-btn{
        display: none;
    }

    header .small-post-btn{
        display: block;
        position: relative;
        top: 10px;
        text-decoration: none !important;
        color: #fff;
    }

    .header-left a{
        text-decoration: none;
    }
}

