.home .title{
    display: block;
    font-size: 30px;
    font-family: var(--semiBold);
}

.resume .stats{
    display: flex;
    justify-content: space-between;
}

.resume .stats .block{
    width: 24%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 130px;
}

.resume .stats .block-title{
    font-family: var(--regular);
}

.resume .stats .block .compteur{
    display: flex;
    justify-content: space-between;
}

.resume .stats .block .compteur .current{
    align-self: flex-end;
    font-size: 34px;
    color: #19146A;
    font-family: var(--semiBold);
}

.resume .stats .block .compteur .relevent{
    text-align: right;
}

.resume .stats .block .compteur .relevent strong{
    font-weight: normal;
    color: #19146A;
}

.resume .block{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.resume .block.publish{
    background-color: #19146A;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.resume .block.publish img{
    width: 170px;
    height: 100px;
}

.resume .block.publish .text{
    font-size: 16px;
}

.resume .block.publish .text h1{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
}

.resume .lister{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.resume .block.long{
    width: 49.5%;
    min-height: 480px;
}

.resume .block.long.transparent{
    background: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume .other-services{
    padding: 20px;
    border-radius: 7px;
    color: #fff;
}

.resume .other-services.red{
    background: rgba(230, 57, 70, 0.82);
}

.resume .other-services.blue{
    background: rgba(0, 119, 182, 0.82);
}

.resume .other-services.green{
    background: rgba(131, 56, 236, 0.82);
}

.other-services .title-ser{
    font-family: var(--bold);
    margin-bottom: 5px;
}

.other-services a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background: #fff;
    width: 120px;
    padding: 3px;
    text-align: center;
    border-radius: 30px;
}

.other-services .desc{
    width: 400px;
}

.other-services.green a{
    color: rgb(131, 56, 236);
}

.other-services.blue a{
    color: rgb(0, 119, 182);
}

.other-services.red a{
    color: #ff2d55;
}

.resume .block.medium .text button{
    margin-left: 0;
    margin-top: 50px;
}

.resume .block.long h4{
    margin-bottom: 30px;
}

.resume .all-total{
    display: flex;
    margin-top: 20px;
}

.paginate{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    background: #fff;
}

.paginate .page-switch{
    display: flex;
}

.paginate .total-items{
    color: #727272;
}

.paginate .page-switch button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3421a3;
}

.paginate .page-switch button.sad{
    color: rgba(52, 33, 163, 0.59);
}

.paginate .page-switch button.prev{
    margin-right: 20px;
}

.paginate .page-switch button.suiv{
    margin-left: 20px;
}

.paginate .page-switch input{
    width: 40px;
    margin: 0 5px;
    border-radius: 3px;
    border: 1px solid #929292;
    padding: 0 0 0 5px;
}

.recent-home{
    margin-bottom: 20px;
    display: flex;
    position: relative;
}

.recent-home img {
   width: 60px;
   height: 60px;
   object-fit: cover;
   border-radius: 10px;
   margin-right: 10px;
}

.recent-home .category {
    position: absolute;
    right: 0;
    top: 0;
}

.recent-home .prix{
    margin-top: 5px;
    color: var(--color);
    font-size: 15px;
}

@media screen and (max-width: 1340px) {
    .resume .stats{
        flex-wrap: wrap;
    }

    .resume .stats .block{
        width: 48%;
        margin-bottom: 4%;
    }

    .resume .lister{
        margin-top: 0;
    }
}

@media screen and (max-width: 840px) {
    .resume .lister{
        display: block;
    }

    .resume .lister .block.long{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .resume .lister .other-services{
        margin-top: 20px;
    }
}

@media screen and (max-width: 630px) {
    .paginate{
        flex-wrap: wrap;
    }

    .paginate .total-items{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 610px) {
    .resume .stats .block{
        width: 100%;
        margin-bottom: 4%;
    }
}

