.tab-pan{
    display: flex;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
}

.tab-pan span{
    display: block;
    width: 110px;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
}

.tab-pan span.active{
    color: var(--color);
    border-bottom: 4px solid var(--color);
}

.sample-details{
    color: dodgerblue;
    cursor: pointer;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mask.active{
    display: flex;
}

.mask-content{
    width: 550px;
    height: auto;
    min-height: 400px;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    position: relative;
}

.mask-content .mask-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    padding-bottom: 10px;
}

.mask-title svg{
    color: #727272;
    cursor: pointer;
}

.mask-body{
    height: 400px;
    overflow: auto;
}

.mask-footer{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.mask-footer button{
    padding: 3px 20px;
    background: var(--color);
    border: 1px solid var(--color);
    border-radius: 4px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.mask-footer button img{
    width: 18px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.mask-footer button.inno{
    background: #e9e9ed;
    border: 1px solid #e9e9ed;
    color: #000;
}

.mask-body{
    padding: 20px 0;
}

.mask-property-int .details-inline{
    margin-bottom: 10px;
}


.mask-property-int .details-inline .cases{
    margin-top: 5px;
}