.faq-content{
    margin-bottom: 50px;
}

.faq-content .header{
    text-align: center;
    margin-top: 30px;
}

.faq-content .small-title{
    font-size: 18px;
    margin-bottom: 10px;
}

.faq-content .big-title{
    font-size: 35px;
    font-family: var(--semiBold);
}

.faq-content .finder{
    width: 600px;
    margin: 30px auto 0;
    position: relative;
}

.faq-content .finder input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    border-Radius: 7px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)
}

.faq-content .finder button {
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    height: 35px;
    color: #fff;
    background: var(--color);
    border-color: var(--color);
    border: 1px solid var(--color);
    border-radius: 3px;
    line-height: 33px;
    padding: 0 10px 0 35px;
    cursor: pointer;
}

.faq-content .finder button  svg{
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 22px;
}

.faq-container{
    width: 70%;
    margin: auto;
    background: #fff;
    margin-top: 50px;
    padding: 20px;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)
}

.inline-faq {
    width: 100%;
    height: 50px;
    overflow: hidden;
    transition: 0.3s;
}

.inline-faq.selected {
    height: auto;
}

.inline-faq .quest-title {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    line-height: 50px;
}

.inline-faq .quest-title div svg{
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.inline-faq .quest-title SVG {
    position: relative;
    top: 12px;
}

.quest-content {
    padding: 15px 35px;
}

@media screen and (max-width: 1000px) {
    .faq-container{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .faq-content .finder{
        width: 80%;
    }

    .faq-content .finder button span{
        display: none;
    }

    .faq-content .finder button  svg{
        left: 12px;
    }
}