.login{
    display: flex;
    min-height: 100vh;
    background: #fff;
    padding: 30px;
}

.image-background{
    width: 40%;
}

.image-container{
    background-image: url("../assets/images/login-back.jpg");
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    background-size: cover;
}

.image-container .logo{
    font-size: 20px;
    font-family: var(--semiBold);
    color: #fff;
}

.login-container{
    display: flex;
    margin: 0;
    padding: 30px;
}

.login-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.login-content{
    width: 370px;
    border-radius: 10px;
}

.title{
    display: block;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: var(--semiBold);
}

.title span{
    display: block;
    margin-top: 15px;
    height: 3px;
    width: 30px;
}

.login-side .title{
    font-size: 24px;
    font-family: var(--semiBold);
    margin-bottom: 40px;
    color: var(--color);
    text-align: center;
}

.login-side .login-box{
    margin-bottom: 15px;
    position: relative;
}

.login-side .login-box input{
    padding: 0 10px 0 40px;
    height: 45px;
    width: 100%;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

.login-side .login-box input::placeholder{
    color: #000;
}

.login-box svg{
    position: absolute;
    font-size: 20px;
    top: 12px;
    left: 10px;
}

.login-box svg.eye{
    left: unset;
    right: -30px;
    font-size: 23px;
    color: #727272;
}

.login-side .message{
    color: crimson;
    margin-bottom: 10px;
}

.login-side .message.success{
    color: #43AA8B;
}

.login-side button{
    color: #fff;
    background-color: var(--color);
    height: 45px;
    line-height: 40px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-family: var(--regular);
    font-size: 15px;
    cursor: pointer;
}

.login-side .sad{
    display: block;
    color: #323232;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: underline;
}

.sad.right{
    text-align: right;
}

.btn-connect{
    position: relative;
}

.btn-connect img{
    height: 20px;
    position: relative;
    top: 2px;
    left: -10px;
}

.register{
    text-align: center;
    margin-top: 20px;
}

.ask-question{
    margin-top: 30px;
    text-align: center;
}

.exp{
    text-align: center;
    margin-bottom: 20px;
}

.sent{
    text-align: center;
}

.thumb{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    background: rgba(3, 1, 93, 0.08);
    border-radius: 50%;
    padding: 25px;
}

.sent img{
    width: 50px;
}

span.click{
    text-decoration: underline;
    color: #03015d;
    cursor: pointer;
}

.load-centered{
    display: block;
    margin: auto;
    width: 60px;
}

@media screen and (max-width: 900px){
    .image-background,
    .left-side{
        display: none;
    }

    .login-side,
    .form-side{
        width: 100% !important;
    }

    .login-content{
        width: 270px;
        font-size: 14px;
    }

    .login-content .title{
        font-size: 20px;
        width: 220px;
        text-align: center;
        margin: 0 auto 30px;
    }

    .login-side .login-box input{
        height: 38px;
    }

    .login-box svg{
        top: 10px;
    }

    .two-box{
        margin-top: 2%;
    }
}