.mailer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mailer-client-content{
    width: 25%;
    height: 90vh;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 5px;
    overflow: auto;
}

.mailer-client-find{
    position: relative;
    margin-bottom: 20px;
}

.mailer-client-find input{
    height: 40px;
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    background: #e5e5e5;
}

.mailer-client-find svg{
    position: absolute;
    right: 3px;
    top: 8px;
    color: #727272;
}

.mailer-response-content{
    width: 75%;
}

.mailer-client-list {

}

.mailer-client{
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
}

.mailer-client.active{
    background: white;
    border-radius: 5px;
}

.mailer-client .client-avatar{
    margin-right: 10px;
}
.mailer-client .client-avatar span{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}

.mailer-client .client-text{
    position: relative;
    width: 85%;
}

.mailer-client .client-text .client-name{
    font-family: var(--semiBold);
    margin-bottom: 3px;
}

.mailer-client .client-text .client-text-text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 14px;
}

.mailer-client .client-text .time{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
}

.mailer-response-content{
    padding: 0 20px;
    height: 90vh;
    position: relative;
}

.mailer-response-content .response-header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
}

.mailer-response-content .response-header .tagged-property{
    display: inline-block;
    padding: 0 20px 0 10px;
    background: #e9d8a6;
    border-radius: 3px 0 0 3px;
    font-family: var(--semiBold);
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.1s;
}

.mailer-response-content .response-header .tagged-property:hover{
    background: #e8d379;
}

.mailer-response-content .response-header .options svg{
    color: #727272;
    font-size: 30px;
    cursor: pointer;
}

.mailer-response-content .response-header .options svg:hover{
    color: #323232;
}

.reponse-message{
    margin-top: 20px;
}

.reponse-message .reponse-date{
    font-size: 14px;
    color: #727272;
}

.reponse-message .response-title{
    font-size: 20px;
    color: #323232;
    margin-top: 20px;
    font-family: var(--semiBold);
}

.text-editor{
    position: absolute;
    bottom: 0;
    height: 150px;
    border-radius: 5px;
    width: 100%;
}

.text-editor div.editor-side{
    display: flex;
    width: 100%;
}

.text-editor div.editor-side textarea{
    display: block;
    width: 80%;
    border: 2px solid #e5e5e5;
    height: 150px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
}

.text-editor div.editor-side button{
    display: block;
    height: 40px;
    width: 13%;
    background: var(--color);
    border: #43AA8B;
    border-radius: 3px;
    color: white;
    line-height: 40px;
    cursor: pointer;
}

.text-editor div.editor-side button svg{
    position: relative;
    top: 4px;
    margin-right: 5px;
}