.properties-content{
    padding: 20px;
    position: relative;
    padding-bottom: 120px;
}

.properties-content .title{
    font-size: 19px;
    margin-bottom: 30px;
}

.properties-content .title.flex{
    display: flex;
    justify-content: space-between;
}

.properties-content .title.flex button{
    display: inline-block;
    text-decoration: none;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    background: var(--color);
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: var(--regular);
    border: none;
    cursor: pointer;
}

.filters {
    display: flex;
    background: #f5f5f5;
    padding: 7px;
    border-radius: 7px;
    justify-content: flex-start;
}

.filters .search{
    position: relative;
}

.filters input {
    height: 40px;
    background: #fff;
    width: 370px;
    border-radius: 5px;
    padding: 0 10px 0 40px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.filters button{
  height: 40px;
  background: var(--color);
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  padding: 0 10px;
}

.filters .search svg{
   position: absolute;
    z-index: 100;
   top: 9px;
   left: 10px;
   color: #727272;
}

.filters .filtres {
    display: flex;
}

.filters div {
    margin-right: 20px;
}

.filters select {
  background: #fff;
  height: 40px;
  padding: 0 3px;
  width: 140px;
  border: 1px solid #e5e5e5;
  border-radius: 5px
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

thead td {
    height: 50px;
    line-height: 50px;
    color: #525252;
    border-bottom: 2px solid #e5e5e5;
}

tbody tr{
    background: #fff;
    color: #525252;
    height: 70px;
    border-bottom: 2px solid #e5e5e5;
}

tbody tr td .label {
    display: inline-block;
    position: relative;
    top: -20px;
    transition: 0.3s;
    cursor: pointer;
    color: #323232;
    text-decoration: none;
}

tbody tr td .label:hover{
    color: #000;
}

tbody tr td img{
   display: inline-block;
   width: 50px;
   height: 50px;
   border-radius: 3px;
   object-fit: cover;
   margin-right: 10px
}

tbody tr .status{
    font-size: 13px;
    text-transform: capitalize;
}

tbody tr td .status i{
     display: inline-block;
     height: 10px;
     width: 10px;
     border-radius: 50%;
     margin-right: 5px
}

tbody tr .status i.attente{
    background: gold;
}

tbody tr .status i.disponible{
    background: var(--color)
}

tbody tr .status i.supprimer{
     background: crimson;
}

tbody tr .status i.indisponible{
     background: #aaa
}

tbody tr button{
  background: #e5e5e5;
  color: #323232;
}

tbody tr td {
    position: relative;
}

tbody tr .toolbox{
    display: none;
    position: absolute;
    height: 115px;
    width: 180px;
    background: #fff;
    right: 0;
    border: 1px solid #f1f1f1;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

tbody tr .toolbox span {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    color: #828282;
}

tbody tr .toolbox span:hover{
    color: #525252;
}

tbody tr .toolbox.active {
   display: block;
}

tbody tr .more {
    cursor: pointer;
    color: #828282;
    padding: 3px;
    border-radius: 30px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
}

tbody tr .more svg{
   position: relative;
   top: 7px
}

tbody tr .more svg:hover{
    color: #222222
}

.properties-content .trigger-click{
    display: none;
}

@media screen and (max-width: 1200px) {
    .filters input{
        width: 300px;
    }
}

@media screen and (max-width: 1120px) {
    .filters input{
        width: 270px;
    }
}

@media screen and (max-width: 1060px) {
    .filters{
        flex-wrap: wrap;
    }

    .filters button, 
    .filters .filtres,
    .filters .search{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1050px) {
    table{
        width: 1000px;
        overflow-x: auto;
    }

    .properties-content{
        overflow-x: auto;
    }

    .filters .filtres{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 970px) {
    .filters .search{
        width: 100%;
    }

    .filters .search input{
       width: 100%;
    }
}

@media screen and (max-width: 683px) {
    .filters{
        display: block;
    }
    
    .filters .filtres{
        display: block;
    }
    
    .filters .filtres div{
        width: 100%;
        margin-right: 0;
    }

    .filters .filtres div select{
        width: 100%;
        margin-top: 10px;
    }
}