.register{
    display: flex;
    background: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 30px;
}

.left-side{
    width: 30%;
}

.left-container{
    background-image: url("../assets/images/register.jpg");
    border-radius: 20px;
    height: 100%;
    background-size: cover;
    padding: 20px;
}

.left-container .logo{
    color: #fff;
    text-align: left;
    font-family: var(--semiBold);
    font-size: 20px;

}

.form-side{
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-side .form{
    width: 60%;
}

.register .title{
    text-align: center;
    color: var(--color);
}

.register-box{
    margin-bottom: 15px;
    position: relative;
    width: 47%;
}

.register-box label{
    text-align: left;
    display: block;
}

.register-box label span{
    color: crimson;
}

.register-box input{
    padding: 0 10px 0;
    height: 45px;
    width: 100%;
    border: none;
    background: #f5f5f5;
    border-radius: 5px;
}

.register-box input::placeholder{
    color: #929292;
}

.register-box svg{
    position: absolute;
    font-size: 20px;
    top: 12px;
    left: 10px;
}

.two-block{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.register button{
    display: block;
    margin-top: 40px;
    width: 100%;
    height: 45px;
    background-color: var(--color);
    color: #fff;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

.register button img{
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px;
    top: 2px;
}

.register .ask-question{
    margin-top: 50px;
}

.reg-success-side{
    display: block;
    max-width: 350px;
}

.reg-success-icon{
    width: 80px;
    height: 80px;
    background: var(--selected);
    border-radius: 50%;
    margin: 0 auto 30px;
}

.reg-success-icon svg{
    font-size: 40px;
    position: relative;
    top: 20px;
    color: var(--color);
}

@media screen and (max-width: 700px){
    .form-side .form{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .form-side .form{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .form-side{
        width: 90%;
    }
    .form-side .form{
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .two-block{
        display: block;
    }

    .register-box{
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    .form-side{
        width: 100%;
    }
}