.configuration{
    display: flex;
}

.configuration .settings-side{
    width: 60%;
    padding: 30px;
    background: #fff;
}

.configuration .how-to{
    width: 40%;
    background: #fcfcfc;
    min-height: 90vh;
    padding: 30px;
}

.configuration .title{
    font-size: 22px;
    font-family: var(--semiBold);
    margin-bottom: 30px;
}

.configuration .tabs{
    margin-top: 40px;
    font-family: var(--regular);
    color: #727272;
    display: flex;
}

.configuration .tab-item{
    margin-right: 30px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
    line-height: 50px;
    color: #323232;
    text-decoration: none;
}

.configuration .tab-item:hover{
    color: #323232;
}

.configuration .tab-item.active{
    border-bottom: 3px solid var(--color);
    color: #323232;
}

.configuration .tabs-content{
    margin-top: 30px;
}

.bloc-faq .questions {
    margin-bottom: 20px;
}

.bloc-faq .questions .questions-title{
    height: 40px;
    font-family: var(--semiBold);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s
}

.bloc-faq .questions .question-content{
    height: 0px;
    overflow: hidden;
    font-family: var(--semiBold);
    color: #727272;
    transition: 0.3s;
}

.bloc-faq .questions .question-content.active{
    height: 150px
}

.bloc-faq .questions .question-action{
    margin-top: 10px
}

.bloc-faq .questions .question-action a {
    font-family: var(--semiBold);
    text-decoration: none;
    color: royalblue
}

.stage-step{
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #e5e5e5;
}

.stage-step .st-title{
    font-size: 17px;
    font-family: var(--semiBold);
}

.stage-step a svg{
    position: relative;
    top: 10px;
}


@media screen and (max-width: 1070px) {
    .configuration .how-to{
        display: none;
    }

    .configuration{
        background: #fff;
    }

    .configuration .settings-side{
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    
}
