.sidebar{
    width: 300px;
    background: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid var(--border-color);
    padding: 17px;
    z-index: 8001;
}

.sidebar .logo{
    margin-bottom: 40px;
    font-family: var(--semiBold);
    font-size: 19px;
}

.sidebar .logo img{
    height: 50px;
}

.sidebar .logo img.small{
    display: none;
}

.leftbar .logo img.long{
    display: none;
}

.leftbar .logo img.small{
    width: 50px;
}

.sidebar nav{
    display: block;
}

.sidebar nav a,
.leftbar nav a{
    height: 50px;
    display: block;
    line-height: 50px;
    font-family: var(--regular);
    margin-bottom: 3px;
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    transition: 0.3s;
    position: relative;
}

.leftbar nav a{
    padding: 0;
    text-align: center;
}

.leftbar nav a span,
.leftbar .settings a span{
    display: none;
}

.sidebar nav a.active,
.leftbar nav a.active{
    color: var(--color);
    background-color: var(--selected);
    border-radius: 5px;
}

.sidebar nav a.active svg{
    color: var(--color);
}

.sidebar nav a svg,
.sidebar .settings a svg,
.leftbar .settings a svg{
    position: relative;
    top: 6px;
    margin-right: 10px;
    color: #727272;
    transition: 0.3s;
}

.sidebar nav a .r-dot{
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    background: crimson;
    border-radius: 50%;
    top: 9px;
    z-index: 4;
    left: 14px;
}

.leftbar nav a svg{
    margin-right: 0;
    position: relative;
    top: 6px;
}

.sidebar .settings,
.leftbar .settings{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    padding-left: 32px;
    border-top: 1px solid var(--border-color);
    width: 100%;
    background: #fff;
}

.leftbar .settings {
    padding-left: 0;
    text-align: center;
}

.sidebar .settings a,
.leftbar .settings a{
    color: black;
    text-decoration: none;
    font-family: var(--regular);
}

.leftbar{
    width: 70px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8001;
    padding: 10px;
    border-right: 1px solid var(--border-color);
}

.leftbar .logo{
    font-size: 14px;
    font-family: var(--bold);
    margin-bottom: 70px;
}

@media screen and (max-width: 1200px) {
    .sidebar nav a{
        padding: 0;
        text-align: center;
    }

    .sidebar nav a span{
        display: none;
    }

    .sidebar .logo img.long
    {
        display: none;
    }

    .sidebar .logo img.small
    {
        width: 50px;
        display: block;
    }

    .sidebar nav a svg{
        margin-right: 0;
        position: relative;
        top: 6px;
    }

    .sidebar .settings {
        padding-left: 0;
        text-align: center;
    }

    .sidebar .settings a span{
        display: none;
    }

    .sidebar{
        width: 70px;
        background-color: #fff;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 8001;
        padding: 10px;
        border-right: 1px solid var(--border-color);
    }

    .sidebar .logo{
        font-size: 14px;
        font-family: var(--bold);
        margin-bottom: 70px;
    }
}