.tip-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip-content{
    width: 50vw;
    height: 80vh;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.tip-content.small{
    width: 700px;
    height: 600px;
}