.two-factor-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.two-factor-view{
    width: 550px;
    background: #fff;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
}

.two-factor-view img{
    width: 50px;
    margin: 20px auto;
}

.two-factor-view .title{
    font-size: 18px;
    font-family: var(--semiBold);
    margin-bottom: 20px;
}

.two-factor-content input{
    height: 45px;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    border: none;
    border-bottom: 2px solid #777;
    font-size: 35px;
}

.two-factor-content input::placeholder{
    font-size: 16px;
}

.two-factor-content button{
    width: 200px;
    margin-top: 20px;
    background: var(--color);
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.two-factor-content button img{
    position: absolute;
    width: 20px;
    left: 30px;
    top: -8px;
}

.two-factor-content .extra{
    margin-top: 20px;
}

.two-factor-view .extra .resend{
    color: var(--color);
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
}

.two-factor-view .extra .resend.view{
    opacity: 1;
}

.two-factor-view .message{
    color: red;
    margin-top: 20px;
}