@import url('Views/fonts/poppins/style.css');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins Regular', sans-serif;
  --color: #8ac411;
  --background-color: #F5F5F5;
  --border-color: #E5E5E5;
  --selected: #8ac41127;
  --bold: "Poppins Bold";
  --regular: "Poppins Regular";
  --semiBold: "Poppins Semibold";
  --light: "Poppins Light";
  font-size: 15px;
}

input,
select, 
button,
textarea,
option{
  font-family: var(--regular);
  font-size: 15px;
  color: #424242;
}

input:focus,
select:focus,
button:active,
textarea:focus{
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}

.post-modal,
.slider-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9900;
}

.slider-modal{
  background: transparent;
  transition: 0.5s;
  top: 100%;
}

.slider-modal.active{
  top: 0;
}

.post-modal .md-content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.post-modal .md-head .close{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 40px;
  color: #000;
  cursor: pointer;
  z-index: 9999;
}

.post-modal .bottom{
  margin-top: 50px;
  text-align: center;
}

.post-modal .bottom button,
.post-modal .btn-group button{
  padding: 10px 50px;
  font-size: 15px;
  color: #fff;
  background: #000;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
}

.post-modal .btn-group button.blur{
  background: #626262;
  border: 2px solid #626262;
}

.post-modal button img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.post-modal .btn-group button.return{
  background: transparent;
  color: #000;
}

.post-modal .btn-group{
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: auto;
}

.flat-loader{
  display: block;
  margin: 40px auto 0;
  height: 40px;
  padding: 3px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.property-content{
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  background: #fff;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.1);
  padding-top: 20px;
  overflow: auto;
}

.houses{
  width: 55%;
  margin: auto;
  position: relative;
}

.houses .close-side{
  display: flex;
  justify-content: flex-end;
}

.houses .close-side a{
  margin-right: 30px;
  background: transparent;
  color: crimson;
  border: 2px solid crimson;
  padding: 0 15px;
  border-radius: 3px;
  text-decoration: none;
  height: 40px;
  cursor: pointer;
}

.houses .close-side a svg{
  position: relative;
  top: 6px;
  margin-right: 3px;
}

.houses .houses-close{
  height: 40px;
  width: 40px;
  background: #e5e5e5;
  text-align: center;
  padding-top: 9px;
  border-radius: 3px;
  cursor: pointer;
}

.house-header .house-path{
  color: #727272;
  margin-bottom: 10px;
}

.house-title{
  font-size: 25px;
  color: #343c6a;
}

.house-address{
  font-size: 14px;
  color: #727272;
}

.house-address svg{
  position: relative;
  font-size: 17px;
  top: 3px;
}

.house-sub-divisions{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.house-sub-divisions .sub-divisions-elements{
  display: flex;
}

.house-sub-divisions .sub-division {
  margin-right: 20px;
  color: #727272;
  font-size: 14px;
}

.house-sub-divisions div svg{
  position: relative;
  top: 4px;
}

.house-sub-divisions .house-price{
  text-align: right;
}

.house-sub-divisions .house-price .cost{
  font-size: 23px;
  font-family: var(--semiBold);
}

.house-sub-divisions .house-price .frequency{
  font-size: 14px;
  color: #727272;
  text-transform: capitalize;
}

.house-galery{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.house-galery .plus{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #43AA8B;
  color: #fff;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: var(--light);
}

.house-galery .house-picture-big{
  width: 55%;
}

.house-galery .house-picture-big img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.house-pictures-list{
  width: 42%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: space-between;
}

.house-pictures-list img{
  width: 210px;
  height: 138px;
  border-radius: 10px;
  object-fit: cover;
}

.house-details{
  width: 80%;
  margin-bottom: 50px;
}

.house-title-list{
  display: flex;
  margin-top: 30px;
}

.house-title-list div{
  margin-right: 30px;
  color: #525252;
  font-size: 20px;
}

.house-title-list div.active{
  color: #43AA8B;
}

.house-desc{
  margin-top: 20px;
  color: #525252;
  line-height: 26px;
}

.map-container{
  width: 100%;
  height: 300px;
  background: #e5e5e5;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
}

.map-container .approx{
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #f5f5f5;
  padding: 2px 10px;
  z-index: 9000;
  border-radius: 3px;
  font-size: 13px;
}

.map-container .pined{
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: block;
  border-radius: 50%;
  padding: 3px;
}

.map-container .pined span{
  display: block;
  width: 14px;
  height: 14px;
  background: var(--color);
  border-radius: 50%;
}

.location-details{
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  color: #727272;
}

.location-details div{
  margin-right: 60px;
  margin-bottom: 15px;
}

.location-details div span{
  display: block;
  margin-top: 7px;
  color: #343c6a;
  font-size: 17px;
}

.house-elements{
  margin-top: 30px;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
}

.house-elements h3{
  font-size: 20px;
  color: #343c6a;
  margin-bottom: 30px;
  font-weight: normal;
}

.location-details .l-details-equip{
  display: flex;
  padding: 5px 15px;
  border-radius: 30px;
}

.location-details .l-details-equip img{
  width: 25px;
  color: #727272;
  line-height: normal;
  text-align: center;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.location-details div.voisin{
  display: flex;
  margin-right: 30px;
}

.voisin svg{
  margin-right: 10px;
}

.voisin div{
  display: inline-block;
}

.voisinage{
  width: 100%;
  height: 250px;
  border: 1px solid #e5e5e5;
}

.voisinage .type{
  display: flex;
  height: 45px;
  border-bottom: 1px solid #e5e5e5;
}

.voisinage .type span{
  display: block;
  height: 45px;
  line-height: 40px;
  padding: 0 ;
  cursor: pointer;
  width: 25%;
  text-align: center;
}

.voisinage .type span svg{
  position: relative;
  top: 5px;
  margin-right: 5px;
  color: #777;
}

.voisinage .type span.active{
  color: var(--color);
  border-bottom: 4px solid var(--color);
}

.voisinage .type span.active svg{
  color: var(--color);
}

.neighbord-list{
  padding: 10px 20px;
}

.neighbord-list div{
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.success-process{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9900;
  justify-content: center;
  align-items: center;
  display: none;
}

.success-process.display{
  display: flex;
}

.succes-process-content{
  width: 500px;
  height: auto;
  background: #fff;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
}

.succes-process-content .icon{
  width: 100px;
  height: 100px;
  background: #f5f5f5;
  border-radius: 50%;
  margin: auto;
}

.succes-process-content .icon svg{
  font-size: 50px;
  color: mediumseagreen;
  margin-top: 25px;
}

.succes-process-content .tit{
  font-size: 25px;
  margin: 15px 0;
}

.succes-process-content .btn{
  background: var(--color);
  margin-top: 20px;
  width: 150px;
  color: #fff;
  height: 40px;
  border: 1px solid var(--color);
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .post-modal .md-content{
    display: block;
  }
}